*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  box-sizing: content-box;
}


#container{
  width: 100%;
}

#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, rgba(214,214,214,0.8) 2%, rgba(255,255,255,1) 50%);
}

#header img{
  width: 100px;
}

ul{
  list-style: none;
  display: flex;
  gap: 15px;
}

a{
  text-decoration: none;
  font-size: 1.1em;
  padding: 5px;
  color: #000;
}

#navbar a:hover{
  background: #000;
  color: #fff;
  border-radius: 5px;
}

/* Content */

/* main */

#content-main{
  width: 100%;
  background: rgba(214,214,214,0.8);
}

#main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#content-main #main p{
  width: 550px;
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
}

#content-main #main span{
  font-size: 0.6em;
}

#content-main #main img{
  width: 350px;
}

/* About */

#content-about{
  width: 100%;
  background: linear-gradient(0deg, rgb(255, 255, 255, 1) 35%, rgba(214,214,214,0.8) 98%);
}

#content-about #main{
  justify-content: center;
  width: 90%;
}

h2{
  padding-top: 20px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.5em;

}

.coluna{
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 30px;
}

.coluna p{
  padding: 20px;
}

.coluna img{
  width: 23%;
}

/* Projects */

#content-projects #main{
  width: 70%;
  background: red;
  justify-content: center;
  align-items: center;
/*  CONFLITO */
}


.coluna1{
  background: red;

}

.coluna2{
  background: blue;

}


